In [4]:
n = int(input("물건 구매가 입력 : "))
if n >= 100000:
  num = 10
elif n >= 50000:
  num = 7.5
elif n>= 10000:
  num = 5
else:
  num = 0

print(f'할인률 : {num}%')
print(f'할인금액 : {int(price * num * 0.01)}')
print(f'{}')

물건 구매가 입력 : 20000
20000

In [8]:
y = int(input('나이:'))
price = 3000

if y >= 65 and y <= 7:
  price = 0
elif y >= 8 or y <= 18:
  price = 1000

print(f'{price}입니다')

나이:8
1000입니다

In [11]:
n1 = int(input('몇개의 숫자를 더할까요?'))
sum = 0

for i in range(n1):
  num = int(input('정수 : '))
  if num%2 == 0:
    sum += num

print('합계출력',sum)

몇개의 숫자를 더할까요?3
정수 : 3
정수 : 3
정수 : 3
합계출력 0

In [18]:
n = int(input('몇 팩? '))
s = 1
for i in range(n,0,-1):
  s *= i

print(s)

몇 팩? 5
120

In [20]:
import random
n = random.randint(1,100)
# print(n)

while True:
    ans = int(input('숫자 입력 :'))
    if ans == n:
        print('정답')
        break
    elif ans > n:
        print('down')
    else:
        print('up')

숫자를 입력하세요 :50
up
숫자를 입력하세요 :60
up
숫자를 입력하세요 :80
up
숫자를 입력하세요 :90
down
숫자를 입력하세요 :85
down
숫자를 입력하세요 :84
down
숫자를 입력하세요 :83
down
숫자를 입력하세요 :81
up
숫자를 입력하세요 :82
T

In [26]:
n = int(input('몇 단? : '))


for j in range(1,10):
  print(f'{n} x {j} = {n*j}')

몇 단? :5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [34]:
for i in range(2,10):
  for j in range(1,10):
    print(f'{i} x {j} = {i*j}', end='\t')
  print()

2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81

In [41]:
li_idel = ['뉴진스', '에스파', '르세라핌', '블랙핑크', '아이브']

li_idel.append('bts')
li_idel.insert(2,'마마무')
li_idel[2:3] = ['여자아이들']
li_idel.remove('bts')

print(li_idel)

['뉴진스', '에스파', '마마무', '여자아이들', '블랙핑크', '아이브']

In [59]:
import random

n = []

for i in range(100):
  n.append(random.randint(1,1000))

print('항목수 : ', len(n))
print('합계', sum(n))
print('최대값 : ', max(n))
print('최소값 : ', min(n))
print('평균 : ', sum(n)/len(n))

항목수 :  100

TypeError: ignored